name: Cypress Tests

on: [push]

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - run: npm i
      - run: npm start
      - run: npm cypress:run
      # Install NPM dependencies, cache them correctly
      # and run all Cypress tests

